{
  "semi": true,
  "useWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "vueIndentScriptAndStye": true,
  "singleAttributePerLine": false
}
